[submodule "pybind11"] # PyBind11 module for Python Library
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "jitify"] # Jitify module for CUDA JIT compilation
	path = jitify
	url = https://github.com/Pencilcaseman/jitify.git
[submodule "version2"] # VectorClass module for SIMD instructions
	path = version2
	url = https://github.com/vectorclass/version2.git
