.is_local

build
buildWsl

librapid/openblas_install
librapid/blas
openblas_install

docs/build
docs/docs
docs/html
docs/latex
docs/xml
docs/source/api
docs/source/docBuild

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.synctex.gz

*.DS_Store

_skbuild
librapid.egg-info
librapid/librapid.egg-info
librapid/bindings/python/generated

dist/

*.pyc
