[submodule "librapid/vendor/jitify"] # Jitify module for CUDA JIT compilation
 # Jitify module for CUDA JIT compilation
 # Jitify module for CUDA JIT compilation
	path = librapid/vendor/jitify
	url = https://github.com/Pencilcaseman/jitify.git
[submodule "librapid/vendor/Vc"] # Vc module for SIMD instructions
 # Vc module for SIMD instructions
 # Vc module for SIMD instructions
	path = librapid/vendor/Vc
	url = https://github.com/Pencilcaseman/Vc.git
[submodule "librapid/vendor/fmt"] # {fmt} module for fast formatting and IO
 # {fmt} module for fast formatting and IO
 # {fmt} module for fast formatting and IO
	path = librapid/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "librapid/vendor/scnlib"] # {scnlib} module for fast reverse formatting and IO
 # {scnlib} module for fast reverse formatting and IO
 # {scnlib} module for fast reverse formatting and IO
	path = librapid/vendor/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
[submodule "doxygenThemes"] # Make the documentation pretty
 # Make the documentation pretty
 # Make the documentation pretty
	path = doxygenThemes
	url = https://github.com/jothepro/doxygen-awesome-css.git
	
[submodule "librapid/vendor/pocketfft"]
	path = librapid/vendor/pocketfft
	url = https://github.com/mreineck/pocketfft
