build
dist
src/librapid.egg-info
src/librapid/librapid.egg-info

build_config.txt

src/librapid/blas
src/librapid/pybind11
src/librapid/jitify

openblas_install

MANIFEST

build
build/*
_skbuild

tests/__pycache__

docs/build
docs/source/api
docs/source/doxygenoutput

*.pyc

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
