# Everything inside of LibRapid
recursive-include librapid *

# CMakeLists.txt and CMake files
global-include CMakeLists.txt *.cmake

# Include PyBind11 (for CMake build)
recursive-include pybind11 *
recursive-exclude pybind11/docs *
recursive-exclude pybind11/tests *
recursive-exclude pybind11/.github *

recursive-include openblas_install *
