build
dist
src/librapid.egg-info
src/librapid/librapid.egg-info

build_config.txt

src/librapid/blas

openblas_install

MANIFEST

build
build/*
_skbuild
_librapid_python_cmake

tests/__pycache__

docs/build
docs/source/api
docs/source/doxygenoutput
docs/source/librapid_doc_copy

*.pyc

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.synctex.gz
