sphinx==4.5.0
breathe==4.35.0
exhale==0.3.7
furo==2022.9.29
pydata-sphinx-theme==0.13.3
numpydoc==1.5.0
sphinx-panels==0.6.0
regex

myst-parser
sphinx-design
sphinx-favicon==1.0.1
sphinx-autobuild
sphinx-copybutton
linkify-it-py

rtds-action
