on:
  issue_comment:
    types: [created]
  issues:
    types: [opened]
  workflow_call:
  workflow_dispatch:

jobs:
  carbonate:
    runs-on: ubuntu-latest
    name: Generate Carbonate Image
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Carbonate
        uses: callmekatootie/carbonate@v1.0.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          imgur-client-id: ${{ secrets.IMGUR_CLIENT_ID }}
